body {
    background-color: #AA3939;
}


.navbar-default {
  background-color: #550000;
  font-family: 'Lato', sans-serif;
  border-color: #550000;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default  .navbar-nav li a {
  color: white;
}

#submit{
  background: inherit;
  height: inherit;
  padding-bottom: 0px;
  padding-top: 0px;
  margin: 0px;
}

#submitArea{
  height: inherit;
  padding: 0px;
  margin: 0px;
}