<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chimr</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href = "#home" class = "navbar-brand scroll">Chimr</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href ="#">Notifications</a></li>
          <li class="dropdown">
            <ul class="dropdown-menu">
              <li><a href ="#">Notifications</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="nums">
  <div class="container">
    <div class="row">
        <form role="form">
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label for="text">Enter Number 1</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Enter Number 2</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmailFirst" name="text" placeholder="Enter Email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>
    </div>
</div>
</section>

    <!-- Footer -->
    <div class="footer fixed">
      <div class="container">
        <div class="pull-left">
          <p>Powered by Particle</p>
        </div>
        </div>
      </div>
    </div>

<!-- JQuery and Bootstrap JS Imports -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/scripts/bootstrap.min.js"></script>

<!-- JQuery Script to Enable Smooth Scrolling -->
<!-- Found on http://www.cmscanbesimple.org/blog/smooth-page-scroll-to-an-anchor -->
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".scroll").click(function(event) {
      event.preventDefault();
      $('html,body').animate( { scrollTop:$(this.hash).offset().top } , 1000);
    } );
  } );
</script>
</body>
</html>